TimeInterval0.txt
TimeInterval1.txt
TimeInterval2.txt
TimeInterval3.txt
TimeInterval4.txt
TimeInterval5.txt
TimeInterval6.txt
TimeInterval7.txt
TimeInterval8.txt
TimeInterval9.txt
TimeInterval10.txt
TimeInterval11.txt
Data
.ipynb_checkpoints/
__pycache__/
DummyTest.py
*.npy
